<%- include('../partials/head', {'title': 'Añadir producto' }) %>

    <body>
        <%- include('../partials/header') %>
            <div class="main-container">
                <form action="" class="form-container" method="POST" enctype="multipart/form-data"
                    id="form-add-product">
                    <div class="title">
                        <h1>Añadir producto</h1>
                    </div>
                    <div class="form-block">
                        <div class="first-block">
                            <div class="form-unitary">
                                <label for="product name">Nombre del producto</label>
                                <input type="text" name="name" id="product_name"
                                    class="<%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.name : null %>">
                                <div class="text-danger" id='nameerror'>
                                    <% if (locals.errors && errors.name) { %>
                                        <%= errors.name.msg %>
                                            <% } %>
                                </div>
                            </div>
                            <div class="form-unitary">
                                <label for="brand name">Marca</label>
                                <select name="brand_id">
                                    <% brands.forEach(function(brand) { %>
                                        <option value="<%= brand.id%>">
                                            <%= brand.name%>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="form-unitary">
                                <label for="img">Imagen</label>
                                <input type="file" name="image" id="img" accept="image/*"
                                    class="<%= locals.errors && errors.image ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.image : null %>">
                                <div class="text-danger" id="imageerror">
                                    <% if (locals.errors && errors.image) { %>
                                        <%= errors.image.msg %>
                                    <% } %>
                                </div>
                            </div>

                        </div>

                        <div class="second-block">
                            <div class="form-unitary">
                                <label>Categoría del producto</label>
                                <select name="category_id">
                                    <option selected>Elige una opción</option>
                                    <% categories.forEach(function(category) { %>
                                        <option value="<%= category.id%>">
                                            <%= category.name%>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="form-unitary">
                                <label for="stock">Stock</label>
                                <input type="text" name="stock" id="stock"
                                    class="<%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.stock : null %>">
                                <% if (locals.errors && errors.stock) { %>
                                    <div class="text-danger">
                                        <%= errors.stock.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="form-unitary">
                                <label for="product price">Precio unitario</label>
                                <input type="text" name="price" id="product_price"
                                    class="<%= locals.errors && errors.price ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.price : null %>">
                                <% if (locals.errors && errors.price) { %>
                                    <div class="text-danger">
                                        <%= errors.price.msg %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="form-unitary">
                        <label class="description" for="description">Descripción</label>
                        <textarea name="description" id="description" cols="30" rows="5"
                            class="<%= locals.errors && errors.description ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.description : null %>"></textarea>
                            <div class="text-danger" id='descriptionerror'>
                                <% if (locals.errors && errors.description) { %>
                                    <%= errors.description.msg %>
                                <% } %>
                            </div>
                    </div>
                    <div class="buttons-addItem">
                        <button class="delete" type="submit">Cancelar</button>
                        <a href="/crud"><button class="add" type="submit">Grabar</button></a>
                    </div>
                </form>
            </div>
            <script src="/js/addProductValidation.js"></script>
            <%- include('../partials/footer') %>
    </body>