<%- include('../partials/head', {'title': 'Editar producto' }) %>
<body>
    <%- include('../partials/header') %>
    <div class="main-container">
        <form action="/products/editItem/<%= product.id %>?_method=PUT" class="form-container" method="POST" enctype="multipart/form-data">
            <div class="title">
                <h1>Editar producto</h1>
            </div>
            <div class="form-block">
                <div class="first-block">
                    <div class="form-unitary">
                        <label for="product name">Nombre del producto</label>
                        <input type="text" name="name" id="product name" value="<%= product.name %>" required>
                    </div>
                    <div class="form-unitary">
                        <label for="brand name">Marca</label>
                        <select name="brand_id" required>
                            <% brands.forEach(function(brand) { %>
                                <%
                                var selected = ( product.brand_id == brand.id ) ? "selected" : ""
                                %>
                                <option value="<%= brand.id%>" <%= selected%>><%= brand.name%></option>
                            <% }); %> 
                        </select>
                    </div>
                    <div class="form-unitary">
                        <label for="img">Imagen</label>
                        <input type="file" name="image" id="img" value="<%= product.image %>" accept="image/*">
                    </div>
                
                </div>
                <div class="second-block">
                    <div class="form-unitary">
                        <label>Categoría del producto</label>
                        <select name="category_id" required>
                            <option selected >Elige una opción</option>
                                <% categories.forEach(function(category) { %>
                                    <%
                                    var selected = ( product.category_id == category.id ) ? "selected" : ""
                                    %>
                                    <option value="<%= category.id%>" <%= selected%>><%= category.name%></option>
                                <% }); %> 
                        </select>
                    </div>
                    <div class="form-unitary">
                        <label for="stock">Stock</label>
                        <input type="text" name="stock" id="stock" value="<%= product.stock %>" required>
                    </div>
                    <div class="form-unitary">
                        <label for="product price">Precio unitario</label>
                        <input type="text" name="price" id="product price" value="<%= product.price %>" required>
                    </div>
                </div>
            </div>
            <div class="form-unitary">
                <label class="description" for="description">Descripción</label>
                <textarea name="description" id="description" cols="30" rows="5" required><%= product.description%></textarea>
            </div>
            <div class="buttons-editItem">
                <button class="delete" type="submit">Cancelar</button>
                <a href="/crud"><button class="edit" type="submit">Grabar</button></a>
            </div>
        </form>
    </div>
    <%- include('../partials/footer') %>
</body>
