<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/header') %> 
    <div class="slider-block">
        <span id="slider-belleza"></span>
        <span id="slider-limpieza"></span>
        <span id="slider-salud"></span>
        <div class="slider">
            <img src="/images/slider-belleza.png" alt="slider-belleza">
            <img src="/images/slider-limpieza.png" alt="slider-limpieza">
            <img src="/images/slider-salud.png" alt="slider-salud">
        </div>
        <div class="prevNext">
            <div><a href="#slider-salud"></a><a href="#slider-limpieza"></a></div>
            <div><a href="#slider-belleza"></a><a href="#slider-salud"></a></div>
            <div><a href="#slider-limpieza"></a><a href="#slider-belleza"></a></div>
        </div>
        <div class="bullets">
            <a href="#slider-belleza" class="slider-button"></a>
            <a href="#slider-limpieza" class="slider-button"></a>
            <a href="#slider-salud" class="slider-button"></a>

        </div>
    </div>
    <div class="product-category">
        <div class="wrapper-container">
            <div class="product-category-title">
                <h3>Belleza</h3>
                <a href="/products/beauty" class="product-category-view-all">Ver todo</a>
            </div>
            <div class="product-category-products">
                <%belleza.forEach(product=>{%>
                    <%- include('partials/homeProductItem',{product}) %>
                <%   })%>
            </div>
        </div>
    </div><div class="product-category">
        <div class="wrapper-container">
            <div class="product-category-title">
                <h3>Salud</h3>
                <a href="/products/healthy" class="product-category-view-all">Ver todo</a>
            </div>
            <div class="product-category-products">
                <%salud.forEach(product=>{%>
                    <%- include('partials/homeProductItem',{product}) %>
                <%   })%>
                
            </div>
        </div>
    </div>
    <div class="product-category">
        <div class="wrapper-container">
            <div class="product-category-title">
                <h3>Limpieza</h3>
                <a href="/products/cleaning" class="product-category-view-all">Ver todo</a>
            </div>
            <div class="product-category-products">
                <%limpieza.forEach(product=>{%>
                    <%- include('partials/homeProductItem',{product}) %>
                <%   })%>
                
            </div>
        </div>
    </div>
    <%- include('partials/footer') %> 
</body>