<tr class="tr-crud">
    <td><a href="/products/detail/<%= product.id %>"><%= product.name %></a> </td>
    <td><%= product.brand.name %></td>
    <td><%= product.category.name %></td>
    <td><%= product.stock %></td>
    <td>$<%= product.price %></td>
    <td class="actions">
        <form action="" class="edit-product" method="POST">
                <a href="/products/editItem/<%= product.id %>">
                    <i class="fas fa-edit"></i>
                </a>
        </form>
        <form action="/products/delete/<%= product.id %>?_method=DELETE" class="delete-product" method="POST">
            <button type="submit" class="trash-button">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
    </td>
</tr>