<header>
    <div class="wrapper-container">
        <div class="top-box">
            <div class="burger-menu">
                <a onclick="burgerMenuClick()">
                    <div class="burger">
                        <i class="fas fa-bars"></i>
                    </div>
                </a>
            </div>
            <a class='logo' href="/"><img src="/images/logo-gjfarma.jpg"></a>
            <div class="search-bar">
                <input type="text" class="searchTerm" placeholder="Buscar">
                <button type="submit" class="searchButton" onclick="search()">
                 <i class="fa fa-search"></i>
                </button>
                <div class="search-results" id="search-results"></div>
            </div>

            <div class="user">
                <% if (locals.isLogged) { %>
                    <a  href="/users/profile">
                        <i class="far fa-user"></i>
                          <%= locals.userLogged.first_name %>
                    </a>
                    <% } else { %>
                        <a href="/users/login">
                            <i class="far fa-user"></i>
                        </a>
                        <% } %>
            </div>

            <a href="/products/cart">
                <div class="my-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="my-order">Mi compra</div>
                </div>
            </a>
        </div>
        <div class="burger-menu-items" id="burger-menu-items">
            <%- include('../partials/headerBurgerMenuCategory', {route: "/products/healthy", title: "Salud" }) %>
            <%- include('../partials/headerBurgerMenuCategory', {route:"/products/beauty" , title: "Belleza" }) %>
            <%- include('../partials/headerBurgerMenuCategory', {route: "/products/cleaning", title: "Limpieza" }) %>
        </div>
        <br>
    </div>
    <nav>
        <div class="categories-wrapper">
            <div class="wrapper-container">
                <ul class='categories'>
                    <%- include('../partials/headerMenuCategory', {route: "/products/healthy", title: "Salud" }) %>
                    <%- include('../partials/headerMenuCategory', {route:"/products/beauty", title: "Belleza" }) %>
                    <%- include('../partials/headerMenuCategory', {route: "/products/cleaning", title: "Limpieza" }) %>
                </ul>
            </div>
        </div>
    </nav>


</header>