<div class="product">
    <a href="/products/detail/<%=products.id %> ">
        <img src="/images/products/<%= products.image %> " alt="imagen producto <%= products.id %> ">
        <div class="product-detail">
            <div class="product-detail-description">
                <%= products.name %> 
            </div>
            <div class="product-detail-price">
               $<%= products.price %> 
            </div>
        </div>
    </a>
    <a href="/products/cart" class="add-to-cart">
        <i class="fas fa-shopping-cart"></i>
        Agregar
    </a>
</div>