<div class="product">
    <a href="/products/detail/<%=product.id %> ">
        <img src="/images/products/<%= product.image?.name ?? "default-image-product.jpg" %> " alt="imagen producto <%= product.id %> ">
        <div class="product-detail">
            <div class="product-detail-description">
                <%= product.name %> 
            </div>
            <div class="product-detail-price">
               $<%= product.price %> 
            </div>
        </div>
    </a>
    <botton class="add-to-cart" onclick="addToCart('<%=product.id %>')">
        <i class="fas fa-shopping-cart"></i>
        Agregar
    </botton>
</div>