<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {'title': 'Login'}) %>

<body>
    <%- include('../partials/header') %>

        <section class="form-login">
            <form action="/users/login" method="POST" class="form-user-login">
                <h5>Ingresa a tu cuenta</h5>
                <input class="controls" type="text" name="email" value="" placeholder="Email" id="control-email">
                <div class="text-danger" id='emailerror'>
                    <% if (locals.errors && errors.email) { %>
                        <%= errors.email.msg %>
                    <% } %>
                </div>
                <input class="controls" type="password" name="password" value="" placeholder="Contraseña" id="control-password">
                <div class="text-danger" id='passworderror'>
                    <% if (locals.errors && errors.password) { %>
                        <%= errors.password.msg %>
                    <% } %>
                </div>
                <input type="checkbox" value="lsRememberMe" id="remember" name="remember"> <label>Recordarme</label>
                <br>
                <br>
                <button class="buttons" type="submit" name="login">Ingresar</button>
                <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
                <p><a href="/users/register">Crea tu cuenta</a></p>
            </form>
        </section>
        <script src="/js/loginValidation.js"></script>
    <%- include('../partials/footer') %> 
</body>