<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {'title': 'Perfil de usuario' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="profile">
                    <h5>Tus datos</h5>
                    <div class="profile-container">
                        <div class="left-profile">
                            <div class="profile-line">
                                <label for="name">Nombre:</label>
                                <%= user.first_name %>
                            </div>
                            <div class="profile-line">
                                <label for="lastname">Apellido:</label>
                                <%= user.last_name %>
                            </div>
                            <div class="profile-line">
                                <label for="email">Email:</label>
                                <%= user.email %>
                            </div>
                        </div>
                        <div class="avatar-profile">
                            <img src="/images/users/<%= user.avatar %> " width="120" height="120">
                        </div>
                    </div>
                    <div class="button-box">
                        <div class="logout">
                            <a href="/users/logout">Cerrar sesión</a>
                        </div>
                        <% if(isAdmin){ %>
                            <div class="dashboard">
                                
                                <a href="http://localhost:3000/" target="_blank">Dashboard</a>
                            </div>
                            <div class="crud">
                                <a href="/products/crud">ABM productos</a>
                            </div>
                            <% } %>
                    </div>
                </section>

            </main>
            <%- include('../partials/footer') %>
    </body>